* {
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
body{
    margin: 0 70px 0 70px;
    background: linear-gradient(to right, #99004d 0%, #ff0080 100%);
}
.container{
    background: #fff;
    max-width: 350px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
}
.h1{
    position: relative;
    text-align: center;
}
.sk{
    display: grid;
    grid-template-columns: 50% auto;
}


/* Media query for screens larger than 1200px (e.g., large desktop screens) */
@media screen and (min-width: 1200px) {
    body {
        font-size: 18px;
    }
}
@media (max-width: 1535px) {
    div {
        padding: 15px 3%;
        transition: .2s;
    }
    Education{
        padding: 40px;
        position: 0.2s;
    }
}
@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }
}
/* Default table styles */
